@media (prefers-reduced-motion: reduce) {
	* {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transition: none !important;
		transition: none !important;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}
*::before,
*::after {
	display: block;
}

img,
picture,
video,
iframe,
figure,
canvas {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
	object-position: center center;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

p a {
	display: inline;
}

li,
menu,
summary {
	list-style: none;
}

ol {
	counter-reset: revert;
}

html {
	scroll-behavior: smooth;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table,
tr,
td,
th,
thead,
tbody,
tfoot {
	border-collapse: collapse;
	border-spacing: 0;
	font: inherit;
}

svg {
	width: 100%;
	display: block;
	fill: currentColor;
}

p svg {
	display: inline;
	width: initial;
}

mark {
	background-color: transparent;
}

form,
input,
textarea,
select,
button,
label {
	font: inherit;
	hyphens: auto;
	background-color: transparent;
	color: inherit;
	display: block;
}
textarea {
	white-space: pre-wrap;
}
::placeholder {
	color: unset;
}
button,
label {
	cursor: pointer;
}

:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}
:where([draggable='true']) {
	-webkit-user-drag: element;
}
